- name: Install Dependencies
        run: |
          python -m pip install --upgrade pip
          grep -iv "pywinpty\|pywin32\|winpty" requirements.txt > requirements_ci.txt
          pip install -r requirements_ci.txt