<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My App</title>
    
</head>
<body>
    <header>
        <h1>Welcome to My App</h1>
    </header>
    <main>
        <p>This is the list of the objects : {{ Item_list }}</p>
        <ul>
            {% for item in Item_list %}
            
            <li><a href="{% url 'myapp:details' item.id %}">
                {{item.item_name}} -> {{item.item_desc}} -> {{item.item_price}} </li>
             {% endfor %}
        </ul>
    
    </main>
</body> 